{% extends  'base.html'%}

{% block title %}
 About
{% endblock title %}

{% block style %}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
{% endblock style %}

{% block body %}
<div class="container my-5">
<p> The Esport website is a site where Gamers can come to the site to participate in virtual games like Battle Ground India, 
    Call of Duty, Free Fire etc. And after winning the game they can win the Prizes from the event or virtual game
     competition organizer and the winner name will be announced in the winner tab or a page in the Esport site.
</p>
</div>
{% endblock body %}