{% extends  'base.html'%}

{% block style %}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
{% endblock style %}

{% block title %}
Contact
{% endblock title %}

{% block body %}
<div class="container my-5">
    <a href="https://github.com/itsdhruvgupta" style="text-decoration:none" target="_blank"><p style="color: rgb(160, 117, 9); font-size: 25px;" >Project profile on 
    <img src="static/gitlogo.png" height="75px"><p></a>
    
    <a href="https://www.linkedin.com/in/dhruv-gupta-89a615169/" style="text-decoration:none" target="_blank"> <p style="color: rgb(160, 117, 9); font-size: 25px;" >Job profile on 
    <img src="static/linkedinlogo.png"  height="84px"><p></a>
    </div>
{% endblock body %}